/* CSS declarations go here */

body{
	padding-bottom: 20px;
	background: lavender;
	/*background-image: url("bkg-7-01.jpeg");*/
	/*background-size: cover;*/
	/*background-position: center;*/
}

form{
	padding-right: 10px;
}

header{
	text-align: center;
}

select{
	height: 30px;
}

.profpic{
	width: 50%;
	margin: auto;
}

#title{
	text-align: center;
}

#resultbox{
	padding-bottom: 0px;
}

.map-container {
  width: 100%;
  height: 150px;
  margin: auto;
}

.calleded{
	height: 100px;
}

.location-container {
  width: 100%;
  /*height: 150px;*/
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.row-2{
	border-bottom:solid;
	border-width: 1px;
}

.break{ 
	word-wrap: break-word;
}

.container-limiter {
	max-width: 600px;
}

#hypeman{
	font-size: small;
	text-align: center;
}

.fa-location-arrow{
	color: blue;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #009;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #009;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #009;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #009;
}

#resultHeader{
	font-weight: bold;
	padding-bottom: 10px;
}

#profileSettings{
	text-align: center;
}

#loginator{
	padding-bottom: 10px;
	font-size: medium;
	text-align: center;
}

.info-btn{
	padding-top: 10px;
}

.emailEntryComing{
	padding-right: 10%;
	padding-left: 10%;
}

a.result-link{
	color:	#333;
	text-decoration: underline;
}

.search-zones{
	margin-left: 15%;
	margin-right: 15%;
}

#app-description{
	text-align: justify;
}

.navbar{
	background: none;
	border: none;
	/*border-bottom: solid rgba(255, 255, 255, .2);*/
	margin-bottom: 0px;
}

.navbar-brand#brandtxt{
/*	float: none;
	text-align: center;
    display: block;*/
    color: white;
}

a.burger-inactive{
	color: white;
}

#headtitle{
	margin-top: 10px;
}

#landing-bg{
	background-image: url("kaufe.jpg");
	background-size: cover;
	background-position: right;
	color: white;
}

.container-fluid.fluid-control{
	padding: 0px;
}