/* CSS declarations go here */

body{
	padding-top: 50px;
	padding-bottom: 20px;
	background-image: url("bkg-7.jpg");
	background-size: 100%;
	background-position: center;
}

form{
	padding-right: 10px;
}

header{
	text-align: center;
}

select{
	height: 30px;
}

.profpic{
	width: 50%;
	margin: auto;
}

#title{
	text-align: center;
}

#resultbox{
	padding-bottom: 0px;
}

.map-container {
  width: 100%;
  height: 150px;
  margin: auto;
}

.calleded{
	height: 100px;
}

.location-container {
  width: 100%;
  /*height: 150px;*/
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.row-2{
	border-bottom:solid;
	border-width: 1px;
}

.break{ 
	word-wrap: break-word;
}

.container-limiter {
	max-width: 500px;
}

#hypeman{
	font-size: small;
	text-align: center;
}

.fa-location-arrow{
	color: blue;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #009;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #009;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #009;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #009;
}

#resultHeader{
	font-weight: bold;
	padding-bottom: 10px;
}

#profileSettings{
	text-align: center;
}

#loginator{
	padding-bottom: 10px;
	font-size: medium;
	text-align: center;
}

.info-btn{
	padding-top: 10px;
}

.emailEntryComing{
	padding-right: 10%;
	padding-left: 10%;
}

a.result-link{
	color:	#333;
	text-decoration: underline;
}

.navbar-inner{
    background:#022c49;
}

.search-zones{
	margin-left: 10%;
	margin-right: 10%;
}

#app-description{
	text-align: justify;
}