/* CSS declarations go here */
body{
	padding-top: 50px;
	padding-bottom: 20px;
}
form{
	padding-right: 10px;
}
header{
	text-align: center;
	padding-bottom: 20px;
}
select{
	height: 30px;
}
.profpic{
	width: 50%;
	margin: auto;
}
#title{
	text-align: center;
}
#resultbox{
	padding-bottom: 0px;
}
.map-container {
  width: 100%;
  height: 150px;
  margin: auto;
}
.calleded{
	height: 100px;
}
.location-container {
  width: 100%;
  /*height: 150px;*/
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.row-2{
	border-bottom:solid;
	border-width: 1px;
}
.break{ 
	word-wrap: break-word;
}
.container-limiter {
	max-width: 600px;
}
#hypeman{
	font-size: large;
}